{% load feincms_thumbnail %}
<div class="image" data-duration="{{ content.duration }}" data-id="{{ content.ordering }}" style="background-image: url({{ content.mediafile.file.name|thumbnail:"1024x2000" }})">
    {% if content.mediafile.translation.caption or content.mediafile.translation.description or content.mediafile.copyright %}
    <div class="description">
        {% if content.mediafile.translation.caption %}
        <h2>{{ content.mediafile.translation.caption }}</h2>
        {% endif %}
        {% if content.mediafile.translation.description or content.mediafile.copyright %}
        <p>
            {{ content.mediafile.translation.description }}
            <span class="copyright">
                © {{ content.mediafile.copyright }}
            </span>
        </p>
        {% endif %}
    </div>
    {% endif %}
</div>
