/* BASIC LAYOUT */

html, body {
    color: white;
    height: 100%;
    overflow: hidden;
    background-color: black;
    font-family: 'Akkurat-LightRegular', Arial, sans-serif;
    font-size: 20px;
    background-image: url(../img/01-cover-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
    margin-bottom: 0.5em;
}

div {

}

h1, h2 {
    color: #efe019;
}

.flex {
    display: flex;
    justify-content: space-around;
}

/* announcements */

#announcements {
    position: relative;
    right: 0px;
    color: white;
    font-family: 'BodoniStdPosterItalic', georgia, serif;
    font-style: italic;
    font-size: 1.3rem;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    background-color: rgb(80, 145, 205); /* PANTONE 279U */
    padding: 0.5rem 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 33rem;
    height: 4rem;
}

#announcements:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 2rem;
    border-width: 1rem 1rem 0;
    border-style: solid;
    border-color: rgb(80, 145, 205) transparent;
    display: block; 
    width: 0;
}


/*******- possibly obsolete ***********/


#content {
    top: 15%;
    bottom: 15%;
    left: 5%;
    right: 5%;
    overflow: hidden;
    position: relative;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
}

#content > div {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}



/* Simple gallery */

.simplegallery {
    position: relative;
}

div.image {
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.simplegallery div.image {
    opacity: 0;
    
    -moz-transition: opacity 3s ease-in;
}

.simplegallery div.image.show {
    opacity: 1.0;
}

.simplegallery, div.image {
    height: 100%;
    width: 100%;
}

.image .description {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: rgba(120, 120, 120, 0.3);
    padding: 1em;
    text-shadow: 1px 1px 5px black;
}

.image .copyright {
    color: #aad6f3;
    font-size: 0.8em;
}


/* richtext */

.text, .richtext {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.3em;
}

.text.small {
    font-size: 1em;
}

.text.medium {
    font-size: 1.5em;
}

.text.large {
    font-size: 2em;
}

.text p {
    margin-bottom: 1em;
}


/* ticker */

#ticker {
    bottom: 0em;
    overflow: hidden;
    width: 90%;
    height: 4.0em;
    font-size: 1.2em;
}

ul.ticker {
    position: relative;
    list-style-type: square;
}

.ticker li {
    position: absolute;
    top: -4em;
    left: 1px;
    padding-left: 1em;
    opacity: 0;
    
    -moz-transition: all 1s ease-in;
}

.ticker li.show {
    opacity: 1.0;
    top: 1px;
}

.ticker .copyright {
    font-size: 0.8em;
    color: #5d8dcb;
    margin-left: 0.6em;
}

.ticker .date {
    font-size: 0.7em;
    color: #9f970f;
    margin-left: 0.6em;
}

/*
@-moz-keyframes ticker {
    from {
        left: 10%;
    }
    to {
        left: -20%;
    }
}
*/

#clock {
    background-color: white;
    border-radius: 100px
}

/* weather */
#weather {
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.weather-widget {
    font-size: 0.8em;
    line-height: 1.2em;
}

.weather-forecast, .weather-today {
    width: 18%;
    float: left;
    margin-right: 1em;
    text-align: center;
}

.weather-widget .humidity {
    color: #aad6f3;
    font-size: 0.7em;
}

.wi.big {
    display: block;
    font-size: 3.5em;
    height: 1.2em;
    width: 2em;
    color: #ffffff;
    text-shadow: 2px 2px 2px #5d8dcb;
}

.temperature {
    margin-top: -1em;
    font-weight: bold;
}
