<div class="weather-widget">
    {% if weather %}
    <div class="weather-today">
        <span class="day">Today</span>
        <i class="wi big {{ weather.current.icon }}"></i>
        <span class="temperature">{{ weather.current.temp }}<i class="wi wi-celsius"></i></span><br />
    </div>
    {% for forecast in weather.forecast|slice:"1:3" %}
        <div class="weather-forecast">
            <span class="day">{{ forecast.day }}</span>
            <i class="wi big {{ forecast.icon }}"></i>
            <span class="temperature">{{ forecast.high }}<i class="wi wi-celsius"></i></span> <br />
        </div>
    {% endfor %}
    {% endif %}
    <br clear="both" />
</div>
