{% load feincms_tags ticker weather jsonify %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="NOFOLLOW, NOINDEX" />

    <link rel="stylesheet" href="{{ STATIC_URL }}screen/css/lib/boilerplate.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}screen/fonts/akkurat.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}screen/fonts/bodoni.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}screen/css/lib/weather-icons.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}screen/css/dist/global.css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}screen/js/slideshow.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}screen/lib/coolclock/coolclock.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}screen/lib/coolclock/moreskins.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}screen/lib/skycons/skycons.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}screen/js/global.js"></script>

    <script>
        window.ScreenData = {
            location: "{{ feincms_page.location }}",
            main: [
                {% for content in feincms_page.content.main %}
                {
                    type: '{{ content.Meta.verbose_name|lower }}',
                    ordering: {{ content.ordering }},
                    priority: {{ content.priority }},
                    morning: {{ content.morning|lower }},
                    noon: {{ content.noon|lower }},
                    afternoon: {{ content.afternoon|lower }},
                    evening: {{ content.evening|lower }},
                    night: {{ content.night|lower }},

                    {% if content.Meta.verbose_name|lower == 'text' %}
                        text: '{{ content.text|linebreaks }}',
                        size: '{{ content.size }}',

                    {% elif content.Meta.verbose_name|lower == 'simple image gallery' %}
                        mediafiles: [
                            {% for m in content.category.mediafile_set.all %}
                            {
                                url: '{{ m.get_absolute_url }}',
                                cover: {{ m.cover|lower }},
                                caption: '{{ m.translation.caption }}',
                                description: '{{ m.translation.description }}'
                            }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ],

                    {% elif content.Meta.verbose_name|lower == 'externer inhalt' %}
                        type: '{{ content.type }}',
                        response: {{ content.get_html_from_json }},

                    {% elif content.Meta.verbose_name|lower == 'facebook image posts' %}
                        user: '{{ content.user }}',

                    {% elif content.Meta.verbose_name|lower == 'news panel' %}
                        ticker: {% ticker_combined request "main" feincms_page 1 %},
                    {% endif %}

                    duration: {{ content.duration }}
                }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
        }
    </script>

    <title>YouthHostel.ch Info Screen</title>
</head>
<body>
    <div id="container" data-path={{ feincms_page.get_absolute_url }}>
        <header class="flex">

            <div id="weather">
              <canvas id="weather-icon"></canvas>
              <span>21°C</span>
            </div>

            <div id="announcements">
                <div>Das ganze Jugi Team wünscht Ihnen einen guten Appetit!</div>
            </div>

    		    <canvas id="clock" class="CoolClock:chunkySwiss:30"></canvas>
        </header>
    </div>

</body>
</html>
