{% load feincms_tags weather %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="NOFOLLOW, NOINDEX" />
    
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/boilerplate.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}fonts/akkurat.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bodoni.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" />
    
    <title>YouthHostel.ch Info Screen</title>
<body>
    <div id="container">
        <div id="weather">
            {% block weather %}
                {% weather_widget 'basel,switzerland' %}
            {% endblock weather %}
        </div>
        <div id="announcements">
            {% block announcements %}
            <div class="info">
                {% feincms_render_content feincms_page.content.announcements.0 request %}
            </div>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
                {% feincms_render_region feincms_page "main" request %}
            {% endblock content %}
        </div>
        <div id="ticker">
            {% block ticker %}
                {% feincms_render_region feincms_page "ticker" request %}
            {% endblock ticker %}
        </div>
    </div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/slideshow.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/global.js"></script>
</body>
</html>