<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="NOFOLLOW, NOINDEX" />
    
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/boilerplate.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}fonts/akkurat.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bodoni.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" />
    
    <title>YouthHostel.ch Info Screen</title>
<body>
    <div id="container">
        <div id="weather">
            {% block weather %}
            <img src="{{ MEDIA_URL }}img/35.png" />
            {% endblock weather %}
        </div>
        <div id="announcements">
            {% block announcements %}
            <div class="info">
                Bitte die Bettwäsche zum waschen bereitlegen.
            </div>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
            <div class="slideshow">
                <div class="image" style="background-image: url({{ MEDIA_URL }}img/dummys/innenraum.jpeg)"></div>
                <div class="image" style="background-image: url({{ MEDIA_URL }}img/dummys/innenraump2.jpeg)"></div>
                <div class="image" style="background-image: url({{ MEDIA_URL }}img/dummys/scuol.jpeg)"></div>
                <div class="image" style="background-image: url({{ MEDIA_URL }}img/dummys/stalban-lobby.jpeg)"></div>
                <div class="image" style="background-image: url({{ MEDIA_URL }}img/dummys/turtmannhuette.jpeg)"></div>
                <div class="image" style="background-image: url({{ MEDIA_URL }}img/dummys/zuerich.jpeg)"></div>
            </div>
            {% endblock content %}
        </div>
        <div id="ticker">
            {% block ticker %}
            <ul class="ticker">
                <li>Die Gruppe Grün überragt Gruppe Grau gemäss neusten Studien aus Kasachstan</li>
                <li>Fritz Müller wird mit dem Ehrenpreis der Müller Stiftung ausgezeichnet</li>
                <li>FCA bezwingt FCX bei einem spannenden Spiel</li>
            </ul>
            {% endblock ticker %}
        </div>
    </div>
</body>
</html>